@font-face {
   font-family: "triforce";
   src: url("triforce.ttf");
}

/* Selector por etiqueta */
header{
   padding:1px;
   background-color: #333;
}

header h1{
   /* Titulo */
   margin: 20px;
   font-family: triforce;
   font-size: 100px;
   letter-spacing: 2px;
   text-shadow: 3px 5px 5px rgb(94, 0, 0);
   color: rgb(179, 0, 0);
   text-align: center;   
}

body{
   margin: 0;
   background-color:#efefef;
   font-family: 'Roboto', sans-serif;
}

h2, h3{
   color: rgb(3, 37, 43);
}


section article{
   transition: box-shadow 0.3s ease;
   background-color: #fff;
   margin: 2rem 0rem;
   border-radius: 0.5rem;
   color: black;
   padding: 0.25rem 0;
   cursor:pointer;
}

section article h2, section article p{
   margin: 1rem;
}

section article:hover{
   box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

/* Selector por clase */
.container {
   width: 400px;
   margin: 0 auto;
}

footer{
   background-color: #222;
   padding: 3rem;
}

footer h3{
   color:#fff;
}

footer p{
   margin:0;
}

footer a{
   transition: color 0.3s ease;
   text-decoration: none;
   color: #fff;
   float:inline-start;
   padding-right:5px;
}

footer a:hover{
   color:cornflowerblue;
}

.volver{
   float: right;
}

/* Selector universal */
*{
   opacity: 0.98;
}